
//-圖片路徑
- var imgPath = "./images/";

//-選單列表(顯示頁面)
mixin nav(page)
  include ./nav.pug 


//-選單列表(顯示頁面)
mixin gallery(value, imgID)
  include ./gallery.pug 

//-內頁BANNER
mixin sideBanner(main, sub, banner)
  include ./sideBanner.pug 