footer
    div.box
        div(class="footer-btns")
            a(href="") 隱私權條款
            a(href="")  會員條款
        div
            include ./social.pug
        div Copyright © 阿金姐工作坊 All rights reserved.     隱私權政策 