div.formMenu
    div.box
        div.header
            h2 青創基地-親子烘焙
            span(class="close")
                img(src="./images/close.svg" , alt="", srcset="", width=25, height=25)
        div
            form(action="") 
                input.form-control.datetimePicker(placeholder="2022-02-03 12:10")
                input.form-control(placeholder="姓名")
                input.form-control(placeholder="連絡電話")
                input.form-control(placeholder="E-Mail")
                img(src="./images/authenticator.jpg", alt="", srcset="")
                input.form-control(placeholder="驗證碼")
        div
            button.btn.red 送出

            