head
    title 阿金姐工作坊 Hakka Specialty
    meta(charset='UTF-8')
    meta(description='阿金姐工作坊 Hakka Specialty')
    meta(copyright='© 2022 阿金姐工作坊 Hakka Specialty')
    link(rel="shortcut icon", type="images/png", href="images/favicon.png")
    meta(property='fb:app_id' content="")

    meta(property="og:type" content="website")
    meta(property="og:url" content="")
    meta(property="og:title" content="阿金姐工作坊 Hakka Specialty")
    meta(property="og:description" content="阿金姐工作坊 Hakka Specialty")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(names="apple-mobile-web-app-status-bar-style" content="black-translucent")
    
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
    
