div.mainMenu
    ul
        li 
            if page=="about"
                a(href="./about.html" class="on") 關於我們
            else
                a(href="./about.html" ) 關於我們
        li 
            if page=="prod"
                a(href="./prod.html" class="on") 商品
            else  
                a(href="./prod.html") 商品
        li 
            if page=="panorava"
                a(href="./panorava.html" class="on") 線上導覽
            else  
                a(href="./panorava.html") 線上導覽
        li 
            if page=="guide"
                a(href="./guide.html" class="on") 預約行程
            else  
                a(href="./guide.html") 預約行程
        li 
            if page=="artwork"
                a(href="./artwork.html" class="on") 陶藝與畫法
            else  
                a(href="./artwork.html") 陶藝與畫法
        li 
            if page=="couple"
                a(href="./couple.html" class="on") 唐鴉與唐婆
            else  
                a(href="./couple.html") 唐鴉與唐婆