div.mainMenu.mainMenuTxt
    ul
        li 
            if page=="about"
                a(href="./about.html" class="on") 關於我們
            else
                a(href="./about.html" ) 關於我們
        li 
            if page=="news"
                a(href="./news.html" class="on") 最新消息
            else  
                a(href="./news.html") 最新消息    
        li 
            if page=="prod"
                a(href="./prod.html" class="on") 精選商品
            else  
                a(href="./prod.html") 精選商品
            
            //-
                div
                    ul
                        li 
                            if page=="about"
                                a(href="./about.html" class="on") 關於我們
                            else
                                a(href="./about.html" ) 關於我們
                        li 
                            if page=="news"
                                a(href="./news.html" class="on") 最新消息
                            else  
                                a(href="./news.html") 最新消息    
            
        li 
            if page=="kitchen"
                a(href="./kitchen.html" class="on") 創意廚房
            else  
                a(href="./kitchen.html") 創意廚房
        li 
            if page=="contactUs"
                a(href="./contactUs.html" class="on") 聯絡我們
            else  
                a(href="./contactUs.html") 聯絡我們