div.mainMenu.mainMenuTxt
    ul
        li 
            if page=="about"
                a(href="./about.html" class="on") 關於我們
            else
                a(href="./about.html" ) 關於我們
        li 
            if page=="news"
                a(href="./news.html" class="on") 最新消息
            else  
                a(href="./news.html") 最新消息    
        li.subList
            if page=="prod"
                a.on 精選商品                   
            else  
                a 精選商品
            div.list
                ul.prodList
                    li 
                        a(href="prod.html") 柑橘系列
                    li 
                        a(href="prod.html") 梅子系列
                    li 
                        a(href="prod.html") 漬物系列
                    li 
                        a(href="prod.html") 果乾系列
                    li 
                        a(href="prod.html") 其他系列
                    li 
                        a(href="prod.html") 分享優惠組合
                    li 
                        a(href="prod.html") 客製化禮盒
            //-
                div
                    ul
                        li 
                            if page=="about"
                                a(href="./about.html" class="on") 關於我們
                            else
                                a(href="./about.html" ) 關於我們
                        li 
                            if page=="news"
                                a(href="./news.html" class="on") 最新消息
                            else  
                                a(href="./news.html") 最新消息    
            
        li 
            if page=="kitchen"
                a(href="./kitchen.html" class="on") 創意廚房
            else  
                a(href="./kitchen.html") 創意廚房
        li 
            if page=="contact"
                a(href="./contact.html" class="on") 聯絡我們
            else  
                a(href="./contact.html") 聯絡我們