div(class="mobile")
    div(class="menu")
        div.scrollBox
            ul.main
                li 
                    a(href="./about.html" class="on") 關於我們
                li 
                    a(href="./news.html") 最新消息
                li.sub 
                    a 精選商品 +
                    ul.list
                        li 
                            a(href="prod.html") 柑橘系列
                        li 
                            a(href="prod.html") 梅子系列
                        li 
                            a(href="prod.html") 漬物系列
                        li 
                            a(href="prod.html") 果乾系列
                        li 
                            a(href="prod.html") 其他系列
                        li 
                            a(href="prod.html") 分享優惠組合
                        li 
                            a(href="prod.html") 客製化禮盒
                li 
                    a(href="./kitchen.html") 創意廚房
                li 
                    a(href="./contact.html") 聯絡我們

            include ./social.pug