div(class="mobile")
    div(class="menu")
        div.scrollBox
            ul.main
                li 
                    a(href="./about.html" class="on") 關於我們
                li 
                    a(href="./prod.html") 商品
                li 
                    a(href="./panorava.html") 線上導覽
                li 
                    a(href="./guide.html") 預約行程
                li 
                    a(href="./artwork.html") 陶藝與畫法
                li 
                    a(href="./couple.html") 唐鴉與唐婆

            include ./social.pug