div.pager_bar
    a.arr( href="#") 
        i.fa.fa-chevron-left(aria-hidden="true")
    a( href="#") 1
    a( href="#") 2
    a.cur( href="#") 3
    a( href="#") 4
    a( href="#") 5
    a.arr( href="#") 
        i.fa.fa-chevron-right(aria-hidden="true")