div.sideBanner
      div.content.PS(data-speed="1.5" data-distance="80")
        img.bg.preload(src=banner loading="lazy" rel="preload" )
      div.logo
        //-span.white !{sub}
        div
          h2 !{main}
        div
          img.logoTxt(src="./images/logo_txt.svg")