ul
    li 
        a.facebook(href="https://www.facebook.com/") 
            i(class="fab fa-facebook" aria-hidden="true")
    li 
        a.google(href="https://www.google.com/") 
            i(class="fab fa-google" aria-hidden="true")
    li 
        a.line(href="https://line.me/") 
            i(class="fab fa-line" aria-hidden="true")
    li 
        a.twitter(href="https://twitter.com/") 
            i(class="fab fa-twitter" aria-hidden="true")
    li 
        a.apple(href="https://apple.com.tw/") 
            i(class="fab fa-apple" aria-hidden="true")