div(class="social")            
    //-
        a(href="Tel:02-456-7890" class="active") 
            i(class="fas fa-phone-alt" aria-hidden="true")
    a.facebook(href="https://www.facebook.com/") 
        i(class="fab fa-facebook-f" aria-hidden="true")
    
    a.instagram(href="https://www.instagram.com/") 
        i(class="fab fa-instagram" aria-hidden="true")
    //-
        a(href="https://www.youtube.com/") 
            i(class="fab fa-youtube" aria-hidden="true")

    a.line(href="https://line.me/") 
        i(class="fab fa-line" aria-hidden="true")