div.userMenu.modalMenu
    div.ctBox
        div.box
            div.header
                h2.title 會員中心
                span.close
                    img(src="./images/close.svg", alt="", srcset="")
            div.scrollBox
                ul
                    li
                        a.on(href="personal.html") 個人資料維護
                    li
                        a(href="reserve.html") 預約管理
                div.btns
                    a.btn.res.close 登出