include ./comp/config.pug
doctype html
html
  include ./comp/header.pug
  body    
    +nav()
   
    div.blocker.top.white       
      div.content.autoHight
        div.pageTitle 
          h1 預約管理 
        
        div.w-100
          div
            div.step_bar
              div.step-line.row
                div.col-4.step-col.first
                  div.step-number.bg-done 1
                  div.step-title 確認訂購明細
                div.col-4.step-col.active
                  div.step-number.bg-gray 2
                  div.step-title 填寫訂購資料
                div.col-4.step-col.last
                  div.step-number.bg-gray 3
                  div.step-title 完成訂購
            
            div.row.cart_title
              div.col-xl-6.d-none.d-xl-block.text-center 商品
              div.col-xl-2.d-none.d-xl-block.text-end 數量
              div.col-xl-3.d-none.d-xl-block.text-end 小計
              div.col-xl-1.d-none.d-xl-block.text-center 刪除

            - var n = 0
            while n < 4
              div.row.cart_item(data-loop=n++)

                div.col-xl-2.col-sm-2
                  a.cart_list.pop_btn(href="#", data-pagename="shop_view")
                    - var img = `background-image:url(./images/shop${n}.jpg)`
                    div.thumb(style=img)
                
                div.col-xl-4.col-sm-4
                  a.cart_list.name.pop_btn(href="", data-pagename="shop_view") 唐婆醋/愛吃醋禮盒
                    div NT$ 
                      b.price 1,180
                    
                div.col-xl-2.col-sm-2.col-12.text-end
                  div.quantity-row
                    div.button_icon.minus
                      i.fa.fa-minus(aria-hidden="true")
                    input.quantity_item(value="3")
                    div.button_icon.plus
                      i.fa.fa-plus(aria-hidden="true")
                
                div.col-xl-3.col-sm-3.text-end.total_list
                  span.total( data-name="小計")
                    div.price NT$ 
                      b 2,360

                div.col-xl-1.col-sm-1.text-center
                  a.trash.del.d-none.d-sm-inline-block(href="#")
                    i.fa.fa-trash(aria-hidden="true")
              

            div.shopping_total
              div.total_1.row
                div.col-sm-9.col-9.text-end 共 
                  span 2
                    | 件 &nbsp; 商品金額                
                div.col-sm-2.col-3.text-end NT$ 
                  span.amount 2,360
                    
              div.total_1.row
                div.col-sm-9.col-9.text-end XX折扣
                div.col-sm-2.col-3.text-end - NT$ 
                  span.discount 200
                
              div.total_2.row
                div.col-sm-9.col-9.text-end 總計
                div.col-sm-2.col-3.text-end NT$ 
                  span.final_amount 2,460
              
            div.more_bar.center.py-2.py-xl-4
              a.btn_send.btn.leftIcon.main( href="shop.html") 繼續購物 
                i.fa.fa-shopping-cart(aria-hidden="true")
              a.btn_send.btn.leftIcon.main.fill( href="./cart_check.html") 填寫資料
                i.fa.fa-chevron-right(aria-hidden="true")
					
    include ./comp/footer.pug
