include ./comp/config.pug

doctype html
html
  include ./comp/header.pug
  

  body
    +nav("kitchen") 
    
    div.blocker.top.bgShop
      div.content.LR.alginTop
        div.left
          div.foodImg
            img(src="./images/kitchen-1.jpg")
        div.right
          h2 家常料理
          p 鹹湯圓料理
          p 難易度
          p 製作時間2小時
          p 食物份量3-4人份
          include ./comp/social.pug
  
    
    div.blocker.bgShop
      div.content.LR.alginTop
        div.left
          div
            h6 食材
            ul
              li 紅白湯圓或包肉餡的湯圓300g
              li 豬肉片或肉絲150g
              li 紅蔥頭10g
              li 蝦皮20g
              li 香菇20g
              li 茼蒿250g
              li 芹菜1-2
              li 根韭菜30g

        div.right
          div
            h6 調味料
            ul
              li 油蔥酥適量
              li 高湯1300cc
              li 醬油少許
              li 香油少許
              li 白胡椒粉少許

    div.blocker.bgShop
      div.content
        div
          h6 鹹湯圓料理步驟：
          ol
            li 鍋內倒入油將豬肉炒香，接著加入紅蔥頭、蝦米、香菇絲一起拌炒出有香味。
            li 再加韭菜、倒入高湯煮成湯底備用。
            li 將湯圓另外煮熟後撈至煮好的湯底，再加入醬油調味。
            li 最後再加入茼蒿、芹菜末、油蔥酥拌勻，起鍋前灑上白胡椒粉及香油即完成。

    include ./comp/footer.pug
  




    
    
    