@import './horiBox.sass'


$blockFootetMarginTop: 44px

@mixin sp606()
    @media( max-width:606px )
        @content


@mixin blocker()    
    div.blocker
        position: relative
        overflow: hidden     
        @include flexbox(column, flex-start , center)

        &.underLine::after
            content: " "
            position: absolute
            bottom: 0
            width: 100%
            max-width: 1200px
            height: 1px
            background-color: #eee
            @include md()
                width: calc( 100% - 40px)

        /* 
            @include md()
                padding: 20px

        &.top //內頁如果是第一個blocker時要推一下padding-top
            padding-top: 130px 
            @include lg()
                padding-top: 80px 

            //
                .content
                    margin-top: 0

        &.bottom
            padding-bottom: 70px
            
        &.bgColor
            background-color: #f9f9f9
        
        @include xl()
            padding-left: 20px
            padding-right: 20px
        
        @include xs()
            padding-left: 15px
            padding-right: 15px

        &.fitBorder
            @include xl()
                padding-left: 0
                padding-right: 0
        .title
            width: 100%
            //max-width: calc(1200px - 30px)

        //區塊標頭
        .title 
            @include flexbox(column, flex-start , center)
            //margin: 80px 0 50px 0
            margin-bottom: 50px
            @include md()
                //margin-bottom: 50px
            &.left
                align-items: flex-start
            
        .title.index
            @include flexbox(row, center , center)

        .endFull
            width: 100%
            max-width: calc(1200px - 30px)
        
        .content
            @include flexbox(column, flex-start , center)
            width: 100%
            height: 100%
            max-width: 1200px
            margin:30px 0   

            .texBox
                width: 100%
            
            &.alginTop
                @include flexbox(column, flex-start , flex-start)

            &.short
                max-width: 600px
            h3
                font-size: 1.4em
                margin: 0
                
            h2 
                font-size: 2.1em
                margin: 0

            h1, h2, h3, h4
                //font-family: Noto Serif TC
                font-style: normal
                font-weight: 600
                line-height: 34px
                margin-bottom: 15px
                
            p
                color: #333
                font-size: 1em
                line-height: 1.8em
                margin-bottom: 20px
            
            
            .cate
                a
                    margin: 10px
                    color:#666
                    line-height: 2.5em
                    word-break: keep-all
                    &:hover
                        color:$mainColor
                a.on
                    color:#fff
                    padding: 10px 
                    border-radius: 30px
                    background-color: $mainColor

            @include xl()
                flex-wrap: wrap
                    
            &.LR
                flex-direction: row            
                > div
                    flex:0 1 50%   
                                 
                > div:nth-child(1)
                    width: 100%
                    padding-left:0
                    padding-right:20px                        
                    @include xl()
                        padding:0
                        padding-bottom:20px

                > div:nth-child(2)
                    width: 100%
                    padding-left:20px
                    padding-right:0                        
                    @include xl()
                        padding:0


                @include xl()
                    flex-direction: column
                    align-items: flex-start
                    > div
                        padding:15px 0
                        flex:0 1 auto
                > div:first-child            
                    width: 100%
                    @include flexbox(row, center, center)
                
                .right.prodInfo
                    @include flexbox(column, space-between, flex-start)
                    height: 560px
                    @include xl()
                        height: 320px

                .right.foodInfo
                    @include xl()
                        @include flexbox(row, center, center)

                /*
                    .photo
                        width: 100%
                        max-width: 600px
                        overflow: hidden          
                        img
                            @include imgCover()
                            
                        &.left
                        
                            @include md()
                                border-width: 10px                                              
                        &.right                     
                            @include md()
                                border-width: 10px 
                        &.noBorder
                            border-width: 0
                        &.upper
                            margin-top: -150px
                            @include xl()
                                margin-top: -100px
                            @include md()
                                margin-top: -150px

                //由於相簿縮放的時候會影響到容器的變形
                //因此將最小高度限制住,手機板則不要限制寬度
                .limit
                    min-width: 600px
                    min-height: 600px


                    @include md()
                        min-width: auto
                        min-height: 400px
                    @include sp606()
                        margin-top: -35px
                    @include xs()
                        margin-top: -12px
                    @include xxs()
                        margin-top: -35px
            

            &.LR.prod
                > .left
                    flex:0 1 30%  
                    @include xl()
                        display: none
                > .right
                    flex:0 1 70%  
                    @include xl()
                        flex:0 1 100% 

            &.LR.news_view
                > .left
                    flex:0 1 75%  
                    @include xl()
                        flex:0 1 100%  
                > .right
                    flex:0 1 25%  
                    @include xl()
                        flex:0 1 100%  
                
                
            &.reverse
                flex-direction: row-reverse 
                > div:nth-child(1)
                    padding-left:20px
                    padding-right:0
                    @include xl()
                        padding:0
                        padding-bottom:20px
                > div:nth-child(2)
                    padding-left:0
                    padding-right:20px                        
                    @include xl()
                        padding:0
                &.content
                    justify-content: flex-end
                    
            &.prod //產品頁面
                align-items: flex-start
                min-height: auto
                section
                    height: 100%
                    min-height: 400px
                    @include md()
                        min-height: 280px
                    p
                        margin-bottom: 30px
                .buy
                    margin: 15px 0
                    
            &.prod.detail 
                margin: 30px 0

            &.underLine
                border-bottom: 1px solid #aaa 
            
            
            .circleLogoBox
                width: 100%
                @include flexbox(row, center, center)
                flex-wrap: wrap
                gap:20px
                > div
                    flex: 0 0 12%
                    @include md()
                        flex: 0 0 calc(33% - 40px)
                
            .footer
                width: 100%
                margin-top: $blockFootetMarginTop
                //@include flexbox(row, flex-start , center)
                @include flexbox(row, center, center)
                z-index: 10
            

            @include horiBox()   
           
            .personal
                width: 100%
                @include flexbox(row, center, flex-start)
                .forms, .menus
                    width:100%
                .forms
                    max-width: 800px
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                .menus
                    max-width: 200px                     
                    ul, li
                        margin:0
                        padding:0
                    li
                        list-style: none
                        padding-bottom: 5px
                        margin-bottom: 10px
                        border-bottom: 1px solid #eee            
                    a
                        text-decoration: none
                        color:#999
                        &:hover
                            color:$mainColor
                    a.on
                        color:$mainColor

                    @include lg()
                        display: none
                        
            @include contentSwiper()      
            

            div.txtAMain 
                margin-bottom: 20px
            div.txtA2Main
                margin-bottom: 20px
            div.txtASub
               // margin-bottom: 30px

            .txtBox
                width: 100%
        section
            .txt
                margin-bottom: 50px
