
@mixin components()
    h1, h2, h3, h4, h5, h6, p
        margin:0

    label.cancel
        color: #ff1900
    label.mute
        color: #aaa
    label.checkin
        color: #d837b0
    label.booked 
        color: #229beb

    
    a.facebook
        color:#385AAF !important
    a.google  
        color:#DF603C !important
    a.line 
        color:#0AB801 !important
    a.instagram 
        color:#8a3ab9 !important
    a.twitter
        color:#1EA1F2 !important
    a.apple 
        color:#222222 !important

    
    .trash
        width: 31px
        svg
            font-size: 1.5em
            color: $mainColor
        @include md()
            position: absolute
            right:0
        &:hover
            svg
                color: #fff
                color: $subColor
    
    //counter
    .quantity-row
        @include flexbox(row, center, center)
        border: 1px solid #ccc
        border-radius: 5px
        overflow: hidden
        width: 110px
        input.quantity_item
            border: none
            width: 40px
            font-size: 1.2em
            text-align: center

        .minus, .plus
            @include flexbox(row, center, center)
            height: 40px
            padding: 0 10px
            color: #fff
            background-color: $mainColor
        .minus:hover, .plus:hover
            color: #fff
            background-color: $subColor

    .input.form-control
        margin-bottom: 15px
    .btn
        font-family: Microsoft JhengHei
        border: none
        font-size: 1.2em
        line-height: 1em
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        max-width: 175px
        height: 40px
        border-radius: 50px
        &.leftIcon
            position: relative
            svg
                position: absolute
                left: 10px
        &.rightIcon
            position: relative
            svg
                position: absolute
                right: 10px
        &:hover
            transition: .4s

        &.main
            background: none
            color: $mainColor
            border: 1px solid $mainColor      
            &.fill
                color: white
                background-color: $mainColor

        &.main:hover
            color: white
            background-color: $mainColor
            border: 1px solid white
            &.fill
                border: 1px solid $mainColor
                color: $mainColor   
                background-color: #fff
        &.sub
            color: $subColor
            background: none
            border: 1px solid $subColor  

        &.sub:hover
            color: white
            background-color: $subColor
            border: 1px solid white
           
        &.red:active
            background-color: $mainColorBtnActive
        &.white
            width: 140px
            color: white
            background: none
            border: 1px solid white
        &.white:hover
            transition: .4s
            color: $mainColor
            background-color: #fff
            border: 1px solid #fff
        &.white:active
            background-color: $mainColorBtnActive

    //loading
    .preloadBar
        display: flex
        justify-content: center
        align-items: center
        top: 0
        z-index: 10000
        position: fixed
        width: 100%
        height: 100%
        background-color: $mainColor
        transform: translate3d(0, 0, 0)

    .preloadBar.off
        transition: .5s cubic-bezier(.16,-0.23,.68,-0.33)
        transform: translate3d(0, -100%, 0)

    .money
        //color: $mainColor
        color: $moneyColor
        font-family: Open Sans
        font-size: 18px
        font-style: normal
        font-weight: 600
        line-height: 28px
        letter-spacing: 0em
        text-align: left
    
    .newsImg, .foodImg
        width: 100%
        img
            @include imgCover()

    .forms     
        width: 100%   
        margin-right: 10px
        @include flexbox(column, center, center )
        form 
            width: 100%  
        .high
            color:$mainColor

        table
            td, th
                white-space: nowrap

    .basic
        div.form-group > div
            margin-bottom: 15px
        .address
            .line1
                @include flexbox(row, center, center )

    .zoomImg
        cursor: pointer
        transform: scale(1)  !important
        transition: transform .8s ease !important
        -o-transition: transform 0.8s ease !important
        -ms-transition: transform 0.8s ease !important
        -moz-transition: transform 0.8s ease !important
        -webkit-transition: transform 0.8s ease !important
        &:hover
            transform: scale(1.1) !important

    .zoomBgImg
        cursor: pointer
        background-size: 100% !important
        transition: background-size .8s ease !important
        -o-transition: background-size 0.8s ease !important
        -ms-transition: background-size 0.8s ease !important
        -moz-transition: background-size 0.8s ease !important
        -webkit-transition: background-size 0.8s ease !important
        &:hover
            background-size: 110% !important
    
    .titleUnderline
        position: relative
        &::after
            content: " "
            margin-top:15px
            width: 70px
            height: 2px
            position: relative
            background-color: $mainColor

    .pager_bar
        margin: 40px 0            
        a
            color:#666
            margin: 0 5px
            padding: 5px 10px
            border-radius: 10px 
        a.cur, a:hover
            transition: .4s
            color:#fff
            background-color: $mainColor

    ul.prodList
        width: 100%
        background-color: #fff
        border: 1px solid #eee
        padding:15px
        li
            list-style: none
            padding: 15px
            border-bottom: 1px solid #eee
            &:last-child
                border-bottom: none
            a
                color:#999
                transition: color .4s ease
                a.on, &:hover
                    color:$mainColor
    
    .circleLogo
        @include flexbox(row, center, center)
        border: 1px solid #ccc
        position: relative
        width: 100%
        padding-bottom: 100%
        max-height: 120px
        border-radius: 50%
        background-position: center
        background-size: 60%
        background-repeat: no-repeat

    .txtAMain, .txtAMainSm
        width: fit-content
        position: relative
        margin-bottom: 24px
        &::after
            position: absolute
            content: " "
            left: 0
            bottom:-10px
            background-color: $mainColor
            width: 50%
            height: 2px
            
    .newsCate
        background-color: #fff
        @include flexbox(column, center, flex-start)
        padding: 30px
        //width: fit-content
        margin-bottom: 20px 
        .heading
            margin-bottom: 30px 

        .cateBody
            width: 100%
            ul
                @include flexbox(column, center,  flex-start)
                flex-wrap: wrap
                margin-left: 0
                padding-left: 0
                li 
                    width: 100%
                    list-style: none
                    margin-left: 0
                    padding-left: 0
                    padding-bottom: 5px
                    margin-bottom: 10px
                    border-bottom: 1px solid #efefef 
                    a
                        font-size: 16px
                        color: #8E8E8E
                        margin-bottom:15px 
                        &:hover
                            color: $mainColor
        .tagBody
            .tag
                border: 1px solid #8E8E8E
                border-radius: 10px
                float: left
                margin: 5px
                transition: background-color .3s ease  
                a
                    white-space: nowrap
                    color:#8E8E8E
                    padding: 10px
                &:hover
                    color:#fff
                    background-color: $mainColor
                    border-color: $mainColor
                    a
                        color:#fff

        .bannerBody
            @include flexbox(rwo, flex-start,  flex-start)
            flex-wrap: wrap
            width: calc(100% + 10px)
            margin-right: -10px
            gap:10px
            .banner
                border-bottom: 1px solid #eee
                p
                    color:#8E8E8E
                .newsImg
                    margin: 10px 0
                flex:0 0 calc(100% - 10px)
                @include xl()
                    flex:0 0 calc(50% - 10px) 
                @include md()
                    flex:0 0 calc(100% - 10px) 
                   
    span.date
        color:#8E8E8E
    
    .foodList
        width: 100%
        max-width: 600px
        padding:15px
        border: 1px solid #eee
        ul
            padding:0
            li 
                color: $articalColor
                @include flexbox(row, space-between, center)
                width: 100%
                list-style: none
                padding-bottom: 5px
                margin-bottom: 5px
                border-bottom:1px solid #eee
    
    .foodStep
        ol
            padding-left: 20px
            li
                color: $articalColor
                padding-bottom: 5px
                margin-bottom: 5px
    .socialBtns
        .social
            @include flexbox(row, flex-start, center)
            gap:15px
            a
                width: 40px
                height: 40px
                @include flexbox(row, center, center)
                border: 1px solid $mainColor
                border-radius: 50%
                font-size: 1.5em
                &.facebook
                    border-color:#385AAF 
                &.instagram
                    border-color:#8a3ab9 
                &.line
                    border-color:#0AB801 

    .starBox
        svg
            color:#fc0

    .time, .people
        color:$mainColor      
        span
            margin-left:5px      
            

@mixin icon()
    div.icon
        width: 26px
        height: 26px
        position: absolute
        top: 10px
        right: 10px
        z-index: 10
        background-color: $mainColor
        @include flexbox(row, center, center)
        transition: .2s        
        border:1px solid  $mainColor
        border-radius: 15px
        
        svg
            color: white
            font-size: 15px
        &:hover
            background-color: #fff
            svg
                color: $mainColor