@mixin footer()
    footer
        min-height: 150px  

        @include flexbox(column, center, center)
        background-color: $mainColor
        color: white
        hr
            width: 100%
            max-width: 1100px
            border: none
            border-top: 1px solid white
        .social
            width: 160px
            @include flexbox(row, space-between, center)
            a
                @include flexbox(row, center, center)
                width: 40px
                height: 40px
                background-color: #fff
                border-radius: 20px
                svg
                    margin: 0 10px
                    font-size: 1.6em
                    color: $mainColor
        .box
            z-index: 1
            @include flexbox(column, space-around, center)
            padding: 20px 10px 
            height: 160px
        .footer-btns      
            @include flexbox(row, center, center)
            @include md()
                @include flexbox(column, center, center)
            a
                color: white
                text-decoration: none
                margin: 0 10px
                &:hover
                    color: $fontHoverColor
                &:first-child
                    position: relative
                &:first-child 
                    &::after  
                        content: " "
                        position: absolute
                        width: 1px
                        height: 20px
                        margin-left: 10px
                            background-color: white  